.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  &__title {
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 36px;
    line-height: 50px;
    color: #111111;
    font-weight: 400;
    margin: 0 0 35px;
  }

  &__text {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin: 0;
  }

  .advantages__item {
    display: flex;
    align-items: center;
  }

  .advantages__illustration {
    margin-right: 20px;
  }
}

