
.header {
  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
    height: 65px;
    display: inline-block;
    vertical-align: middle;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__logo-image {
    padding-top: 5px;
    &:focus,
    &:hover {
      opacity: 0.7;
   }
    &:active {
      opacity: 0.3;
   }
  }

  &__logo-text {
    padding-top: 10px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__toggle {
    width: 24px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__toggle-icon {
    margin: 0 auto;
  }

  &__toggle-icon--close {
    display: block;
  }

  &__toggle-icon--open {
    display: none;
  }

  &__wrapper--show &__toggle-icon--close {
    display: none;
  }

  &__wrapper--show &__toggle-icon--open {
    display: block;
  }

  &__wrapper--show .navigation {
    height: 199px;
    opacity: 1;
    transition: height 0.5s, opacity 1s;
  }

  &__wrapper--show .navigation__item {
    display: block;
  }
}

