.nutrition-program {
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px;

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 23px;
    margin-top: 0;
    color: @white;
  }

  &__slogan {
    font-size: 14px;
    font-weight: 400;
    color: @white;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
  }

  &__image {
    display: block;
    margin: 0 auto 5px;
    width: 280px;
    height: 270px;
  }

  &__select-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}

