.nutrition-program {
  position: relative;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px;

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    margin-bottom: 23px;
    margin-top: 0;
    color: #ffffff;
  }

  &__slogan {
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
  }

  &__image {
    display: block;
    margin: 0 auto 5px;
    width: 280px;
    height: 270px;
  }

  &__select-button {
    padding: 7px 0;
  }
}
