// Colors

@basic_green: #68B738;
@basic_grey: #F2F2F2;
@special_grey-two: #EBEBEB;
@special_grey: #CDCDCD;
@special_grey-three: #666666;
@special_dark-grey: #444444;
@special_dark-grey-two: #222222;
@status_error: #FF8282;
@basic_green-two: #5EAA2F;
@special_grey-example: #EAEAEA;

